---
import '../styles/bird.css'
import '../styles/global.css'

import Layout from '../layouts/Layout.astro';
import { YouTube } from 'astro-embed';
---

  <Layout title="About sBirb ðŸ¦">
  <main>
    <p><a href="/">Back to sBirb</a></p>
    <p>Why I built this site: coming soon!</p>
    <p>Watch 2 minutes of my React Conf 2021 talk "Learning in the Browser" where I describe building this tool as my very first React project!</p>
    <YouTube id="5X-WEQflCL0" params="start=186&end=339" title='Excerpt: How did I decide what to build? Solve a real problem you have!' poster="https://lh3.googleusercontent.com/pw/AP1GczPqtri7_KSX0T1OMq6KrramYwQzdpIlfHdnvlNQmjcavNVF3FyzgI5S3lJxOP-6QNqo2IgbZ_lN6AYcgDLfTuUdU5M9YvyT10TGX64scBDmiRQB_wrv1EA5blbveINYjnFd2hdIrVtE6Ok7LQCbZ-PPlw=w1191-h655-s-no-gm?authuser=0"/>
  </main>
</Layout>
