---
import '../styles/bird.css'
import '../styles/global.css'

import Layout from '../layouts/Layout.astro';
---
  <Layout title="sBirb">
  <main>
    <p><a href="/">Back to sBirb</a></p>
    <p>Why I built this site: coming soon!</p>
  </main>
</Layout>
