---
import Main from "../cra/Main.jsx";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>sBirb</title>
	</head>
	<body>
		<main>
			<h1>sBirb</h1>
			<p><a href="/sbirb/">Take me to sBirb</a></p>
			<!-- <p><a href="/sbirb/">sBirb</a></p> -->
			<!-- <Main client:only="react"/>  -->
		</main>
	</body>
</html>
