---
import '../styles/bird.css'
import '../styles/global.css'
import App from '../bird/App.jsx';
import Layout from '../layouts/Layout.astro';
---  
<Layout title="sBirb">
  <main>
    <App client:load />
  </main>
</Layout>

