---
import '../styles/bird.css'
import '../styles/global.css'
import App from '../bird/App.jsx';
import Layout from '../layouts/Layout.astro';
---

  <style global>
  
  .regions {
    background: #eef9ed;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0.5em;
  }
  .panel__inner {
    background: lightgreen;
    overflow-x: hidden;
    overflow-y: scroll; 
    height: 60vh;
  }

  .panel__inner::-webkit-scrollbar {
    width: 8px;
}
 .panel__inner::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 8px;
}
panel__inner::-webkit-scrollbar-track {
    background: #FFFFFF;
}
   button {
        height: 3em;
    }

    input {
        height: 3em;
    }
    button.accordion__header {
      height: auto;
  }

  </style>
  
  <Layout>
    <main>
      <App client:load />
    </main>
  </Layout>

